<header th:fragment="title-menu">
    <div class="container">
        <aside class="menu_buttons">
            <ul>
                <li><a href="/products/list"><h2>WSZYSTKIE PRODUKTY</h2></a></li>

                <li><a href="/products/VEGETABLE"><h2>WARZYWA</h2></a></li>

                <li><a href="/products/FRUIT"><h2>OWOCE</h2></a></li>

                <li><a href="/products/NUTS"><h2>ORZECHY</h2></a></li>

                <li><a href="/cart"><h2>KOSZYK</h2></a></li>

                <li><a href="/admin"><h2>PANEL ADMINA</h2></a></li>
            </ul>
        </aside>
    </div>
</header>

