<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header id="head" class="alt" th:include="STYLESHEETS :: stylesheet" />
    <meta charset="UTF-8" />
    <title th:text="${product.name} + ' - edycja'"></title>
</head>
<body>
    <header id="header" class="alt" th:include="MENU :: title-menu" />
    <div class="container">
        <h1 th:text="${product.name}"></h1>
        <ul>
            <li>CENA:   <span th:text="${product.price}"></span> zł </li>
            <li>OPIS:   <span th:text="${product.description}"></span></li>
            <li>KATEGORIA:   <span th:text="${product.category}"></span></li>
        </ul>

        <form th:action="@{'/products/list/' + ${product.name} + '/update'}" method="post">
            <p><input type="text" th:field="${editProduct.name}"></p>
            <p><textarea th:field="${editProduct.description}"></textarea></p>
            <p><input type="number" step="0.01" min="0" th:field="${editProduct.price}">zł</p>


                <input type="radio" id="VEGETABLE" name="category" th:field="${editProduct.category}" value="VEGETABLE">
                <label for="VEGETABLE" text="VEGETABLE">VEGETABLE</label>

                <input type="radio" id="FRUIT" name="category" th:field="${editProduct.category}" value="FRUIT">
                <label for="VEGETABLE" text="FRUIT">FRUIT</label>

            <p><input type="submit" value="UPDATE" /></p>
        </form>

        <a th:href="@{'/products/list/' + ${product.name}}"><h2> wróć do informaji o produkcie</h2></a>
    </div>


</body>
</html>