<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title th:text="${product.name}"> - szczegóły produktu</title>
</head>
<body>

    <div>
        <h1 th:text="${product.name}"> - szczegóły</h1>
        <ul>
            <li>CENA:   <span th:text="${product.price}"></span> zł </li>
            <li>OPIS:   <span th:text="${product.description}"></span></li>
            <li>KATEGORIA:   <span th:text="${product.category}"></span></li>
        </ul>
    </div>

    <div>
        <h2> zamówienie</h2>
        <form th:action="@{'/products/list/' + ${product.name} + '/addedToCart'}" method="post">
            <p><input type="number" step="1" min="1" th:field="${addedItem.quantity}"> sztuk </p>
            <p><input type="submit" value="DODAJ DO KOSZYKA"></p>
        </form>
    </div>

    <div>
        <a th:href="@{'/products/list/' + ${product.name} + '/edit'}"}><h2> edytuj informacje o produkcie</h2></a>
    </div>

    <div>
        <a href="/products/list"><h2> wróć do listy produktów</h2></a>
    </div>

</body>
</html></title>
</head>
<body>

</body>
</html>